.weather-app-wrapper {
  max-width: 500px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(215, 223, 252) 0%,
    rgb(255, 255, 255) 0%,
    rgb(215, 223, 252) 84%
  );
}
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}
ul {
  margin: 0;
  padding: 0;
}
.overview {
  margin-bottom: 20px;
}
.details {
  text-align: right;
}
.weather-temperature img {
  margin-right: 10px;
  float: left;
  height: 64px;
  width: 64px;
}
.weather-temperature #temperature {
  font-size: 64px;
  font-weight: 400px;
  line-height: 1;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}
